.newsletter{
	&-background-element{
		position: absolute;
		top: unset;
		bottom: 0;
		opacity: 0.7;
		left: -16%;
	}

	&-data{
		width: 64%;
		gap: var(--gap-xl);

		& form{
			flex-direction: row;
		}
	}
}

.footer{
	gap: var(--gap-xl);
	padding-bottom: var(--padding-xl-2);

	&-info{
		&-logo{
			& svg{
				height: 27px;
				width: auto;
			}
		}
	}
	&-links{
		gap: var(--gap-md);

		&-list-holder{
			gap: var(--gap-xl);

			& .links-list{
				gap: var(--gap-md);
				justify-content: space-between;
			}
		}
	}

	& .copyright{
		padding-top: var(--padding-xl-2);
		border-top: var(--border-thin) solid var(--lightgrey);

		&-text{
			& .t-highlights{
				color: var(--white);
			}
		}
	}
}