:root {
	--color: #55c702;
	--color-2: #5acae3;
	--action: #6e1da9;
	--complimentary: #ce0e17;

	--black: #010101;
	--darkgrey: #0e0e0e;
	--lightgrey: #7f7f70;
	--white: #fffaeb;

	--primary: #ffc309;
	--secondary: #ff7901;
}