.contact{
	&-info {
		gap: var(--gap-2xl);
		width: 100%;

		& .form {
			width: 56%;

			gap: var(--gap-lg);

			&-input-holder {
				gap: var(--gap-sm);
			}

			& .button {
				width: 100%;
			}
		}

		&-data{
			gap: var(--gap-xl);
			width: 44%;

			& .t-highlights{
				color: var(--white);
			}

			&-details{
				gap: var(--gap-sm);

				& .label{
					color: var(--lightgrey);
				}
			}
		}
	}
}