.home{
	& .hero{
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../images/hero.webp");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: var(--padding-body) var(--padding-xl-2) var(--padding-xl);

		&-content{
			max-width: 70%;
			gap: var(--gap-xxs);
		}

		& .button{
			margin-bottom: var(--padding-sm);
		}

	}

	& .scrollingText{
		background: var(--darkgrey);
		padding: var(--padding-xl) var(--padding-xl-2);

		&-holder{
			gap: var(--gap-xl);
			& .t-highlights {
				text-wrap: nowrap;
				color: var(--white);
			}

			& svg {
				width: 32px;
				display: inline-block;
			}
		}
	}

	& .mission, .sectors-list, .commitment {
		& .content{
			&-card{
				background-image: none;
			}
		}
	}

	& .mission {
		& .content{
			&-card{
				//min-height: 600px;
			}
		}
	}

	& .commitment, & .testimonials{
		& .content{
			gap: var(--gap-sm);
		}
		& .notice{
			color: var(--primary);
			text-decoration: underline;
		}
	}

}