@use '../variables/breakpoints' as *;

.partner{
	&-list{
		gap: var(--gap-xs);
		width: 100%;

		@include respond-to("tablet") {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include respond-to("mobile") {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}

		&.incomplete {
			svg {
				font-size: 20rem;
				color: var(--lightgrey);
			}

			& h5 {
				width: 96%;

				@include respond-to("tablet") {
					width: 80%;
				}

				@include respond-to("mobile") {
					width: 100%;
				}
			}
		}

		&-card{
			background-color: var(--darkgrey);
			padding: var(--padding-lg);
			gap: var(--gap-xl);
			overflow: hidden;

			& .partner-logo{
				height: 32px;
				width: auto;
			}

			& .sector-logo{
				position: absolute;
				top: 6%;
				right: -31%;
				left: unset;
				transform: rotate(-48deg);
				width: 240px;

				@include respond-to("tablet") {
					width: 160px;
					top: 5%;
					right: -29%;
				}

				@include respond-to("mobile") {
					width: 160px;
					top: 1%;
					right: -29%;
				}
			}

			&-bottom{
				gap: var(--gap-md);

				& p{
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				& .button{
					color:  var(--primary);
				}
			}
		}
	}

	&-details-container{
		gap: var(--gap-xl);

		&-section{
			gap: var(--gap-xxs);

			&.info{
				gap: var(--gap-xl);

				@include respond-to("mobile") {
					flex-direction: column;
				}
			}

			&-inner{
				gap: var(--gap-xxs);
			}

		}

		& + .button{
			color: var(--primary);
		}
	}
}
