// -----------------------
// Responsive Breakpoints Mixin
// -----------------------
@mixin respond-to($breakpoint) {
	@if $breakpoint == "mobile" {
		@media (max-width: 767px) {
			@content;
		}
	}
	@else if $breakpoint == "tablet" {
		@media (min-width: 768px) and (max-width: 1023px) {
			@content;
		}
	}
	@else if $breakpoint == "tablet-up" {
		@media (min-width: 768px) {
			@content;
		}
	}
	@else if $breakpoint == "desktop" {
		@media (min-width: 1024px) {
			@content;
		}
	}
	@else if $breakpoint == "desktop-lg" {
		@media (min-width: 1440px) {
			@content;
		}
	}
	@else {
		@warn "Breakpoint #{$breakpoint} not found";
	}
}