body{
	padding-top: var(--padding-md);
}

section{
	padding: var(--padding-xxl) var(--padding-xl-2);
	gap: var(--gap-2xl);

	& .title{
		gap: var(--gap-xxs);

		&-main{
			gap: var(--gap-lg);
		}
	}

	& .content{
		align-items: stretch;

		&-card{
			padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
			background-color: var(--darkgrey);
			gap: var(--gap-4xl);
			background-image: url("../images/much.svg");
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: cover;
			background-blend-mode: multiply;

			&-body {
				gap: var(--gap-lg);
				display: flex;
				flex-direction: column;

				& .user {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					& span:first-child {
						color: var(--primary);
					}
				}
			}

			&-title{
				width: 100%;
				border-bottom: var(--border-thin) solid var(--primary);
				padding-bottom: var(--padding-xs);

				& .t-highlights{
					color: var(--white);
				}
			}

			&.quote{
				width: 480px;
				gap: var(--gap-2xl);

				& .testifier{
					gap: var(--gap-xs);

					&-image{
						width: 72px;
						height: 72px;
						border-radius: 100%;
						overflow: hidden;
						background-color: var(--lightgrey);

						& img{
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
}

.hero{
	padding: var(--padding-section) var(--padding-xl-2);

	&-content{
		gap: var(--gap-xl);
	}

}

.breadcrumbs{
	gap: var(--gap-xxs);

	& .t-links{
		padding: 0;
		color: var(--white);
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	& .arrow{
		color: var(--lightgrey);
	}
}

.content{

	&-card{

	}
}

